body {
	background: #FAFAFA;
}

.content {
	width: 400px;
	margin: auto;
	text-align: center;
}

.content img {
	width: 200px;
}

.form-login {
	border: 1px solid #BDBDBD;
	border-radius: 2px;
	padding: 10px;
	width: 400px;
	margin: auto;
	text-align: center;
	background: white;
}

@media only screen  and (max-width: 550px) {

	
}

@media only screen  and (max-width: 720px) {

	.form-login {
		width: 95%;
	}
}

.form-login label {
	color: gray;

}

.form-login input {
	border-radius: 2px;
}

.form-login input[type='email'] {
	width: 90%;
	padding: 3px 4px;
	border: 1px solid #BDBDBD;
	color: gray;
	margin-bottom: 10px;
}

.form-login input[type='submit'] {
	padding: 3px;
	width: 92%;
	margin: 12px;
	border: 1px solid #0B610B;
	background: #0B610B;
	color: white;
	transition: 0.3s all;	
}

.form-login input[type='submit']:hover {
	border: 1px solid #088A08;
	background: #088A08;
	transition: 0.3s all;	
}

.user {
	text-align: center;
}

section {
	width: 100%; 
	border: 1px solid #BDBDBD;
	border-radius: 3px;
	background: white;
	padding: 5px;
	margin: 5px 0px;
	display: table;
}

.btn {
	padding: 5px 7px;
	border: 1px solid #0B610B;
	text-decoration: none;
	border-radius: 3px;
	background: #0B610B;
	color: white;
	float: right;
	clear: both;
	display: inline-block;
	transition: 0.3s all;	
}

.btn:hover {
	border: 1px solid #088A08;
	background: #088A08;
	transition: 0.3s all;	
}